<h2>Lista de Contatos</h2>

<div class="row">
  <div class="col-md-12">
    <div class="pull-left">
      <a class="btn btn-primary" id="novoContato" [routerLink]="['/insere-contato']">
        <span title="Novo Contato" class="glyphicon glyphicon-plus-sign"></span> Novo Contato
      </a>
    </div>
  </div>
</div>
<br />

<div class="page-size">
  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Celular</th>
          <th>E-mail</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let contato of contatos'>
          <td>{{ contato.nome }}</td>
          <td>{{ contato.celular }}</td>
          <td>{{ contato.email }}</td>
          <td>
            <a title="Detalhes" class="btn btn-primary">
              <span class="glyphicon glyphicon-eye-open"></span> Detalhar
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>