<h2>Lista de Contatos</h2>
<div class="page-size">
  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Data de Nascimento</th>
          <th>Data de Cadastro</th>
          <th>Celular</th>
          <th>E-mail</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cristiano Rocha</td>
          <td>12/12/2017</td>
          <td>13/12/2017</td>
          <td>(31) 99235-1508</td>
          <td>cristianojedi@gmail.com</td>
          <td>
            <a title="Detalhes" class="btn btn-primary">
              <span class="glyphicon glyphicon-search"></span> Saber Mais
            </a>
          </td>
        </tr>
        <tr>
          <td>DevXperience</td>
          <td>01/09/2017</td>
          <td>02/09/2017</td>
          <td>(31) 99212-2231</td>
          <td>devexperience@gmail.com</td>
          <td>
            <a title="Detalhes" class="btn btn-primary">
              <span class="glyphicon glyphicon-search"></span> Saber Mais
            </a>
          </td>
        </tr>      
      </tbody>
    </table>
  </div>
</div>