<h4>Organize sua própria agenda</h4>
<hr />

<form novalidate (ngSubmit)="adicionarOrganizador()" [formGroup]="inscricaoFormGroup">
  <div class="form-horizontal">

    <div class="form-group" [ngClass]="{'has-error': displayMessage.nome}" >
      <label class="col-md-2 control-label">Nome Completo</label>
      <div class="col-md-10">
        <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome">
        <span class="text-danger" *ngIf="displayMessage.nome">
          <p [innerHTML]="displayMessage.nome"></p>
        </span>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': displayMessage.cpf}">
      <label class="col-md-2 control-label">CPF</label>
      <div class="col-md-10">
        <input class="form-control" id="cpf" type="text" placeholder="CPF (requerido)" formControlName="cpf">
        <span class="text-danger" *ngIf="displayMessage.cpf">
          <p [innerHTML]="displayMessage.cpf"></p>
        </span>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': displayMessage.email}">
      <label class="col-md-2 control-label">E-mail</label>
      <div class="col-md-10">
        <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)" formControlName="email">
        <span class="text-danger" *ngIf="displayMessage.email">
          <p [innerHTML]="displayMessage.email"></p>
        </span>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': displayMessage.senha}">
      <label class="col-md-2 control-label">Senha</label>
      <div class="col-md-10">
        <input class="form-control" id="senha" type="password" placeholder="Senha (requerido)" formControlName="senha">
        <span class="text-danger" *ngIf="displayMessage.senha">
          <p [innerHTML]="displayMessage.senha"></p>
        </span>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': displayMessage.senhaConfirmacao}">
      <label class="col-md-2 control-label">Confirme a Senha</label>
      <div class="col-md-10">
        <input class="form-control" id="senhaConfirmacao" type="password" placeholder="Confirme a Senha (requerido)" formControlName="senhaConfirmacao">
        <span class="text-danger" *ngIf="displayMessage.senhaConfirmacao">
          <p [innerHTML]="displayMessage.senhaConfirmacao"></p>
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <button class="btn btn-success" id="Registrar" type="submit" [disabled]="!this.inscricaoFormGroup.valid" >Registrar</button>
      </div>
    </div>
  </div>

</form>

<div class="has-error">{{teste}}</div>
