<ul [ngSwitch]="usuarioLogado()" class="nav navbar-nav navbar-right">
  <li *ngSwitchCase="false"><a [routerLink]="['/inscricao']">Registre-se</a></li>
  <li *ngSwitchCase="false"><a [routerLink]="['/entrar']">Entrar</a></li>

  <li *ngSwitchCase="true" id="saudacaoUsuario"><a href="javascript:void(0)">Olá {{nome}}</a></li>
  <li *ngSwitchCase="true">
    <a href="javascript:void(0)" (click)="logout()">
      <span class="glyphicon glyphicon-off"></span> Sair
    </a>
  </li>
</ul>

<!--
  javascript:void(0): usado para executar o evento, no caso click e não fazer nada.
  Com #, ele executa o evento e recarrega a aplicação
-->
 