<div class="row">
  <div class="carousel-inner">
    <carousel>
        <slide>
          <div class="item active">
            <img src="http://placehold.it/1200x400/2980b9/ffffff&text=Organize Sua Agenda">
            <div class="carousel-caption">
              <h3>Agenda OnLine</h3>
              <p>Guarde todos os seus contatos com segurança. É útil para ter um backup dos seus números de telefones mais importantes
                  e além disso é uma excelente opção para pequenas empresas administrarem seus clientes.</p>
            </div>
          </div>
        </slide>
      <slide>
        <div class="item active">
          <img src="http://placehold.it/1200x400/16a085/ffffff&text=Sobre Nós">
          <div class="carousel-caption">
            <h3>Podemos Ser Parceiros</h3>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna
              aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
          </div>
        </div>
      </slide>
      <slide>
        <div class="item active">
          <img src="http://placehold.it/1200x400/e67e22/ffffff&text=Contatos">
          <div class="carousel-caption">
            <h3>Contate-nos</h3>
            <p>
              Você pode entrar em contato conosco de várias formas, por formulário de contato, por telefones e emails dos departamento
               abaixo e também através de visita pessoalmente. Teremos o prazer em atendê-los.</p>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</div>